[core]
    autocrlf = input
    hooksPath = ~/.config/git/hooks
[diff]
    colorMoved = default
[diff "lb"]
    textconv = lb conv
[grep]
    lineNumber = true
[log]
    date = iso-strict
[pull]
    rebase = false
[push]
    default = simple
[status]
    short = true
    branch = true
    showStash = true
    showUntrackedFiles = all
[help]
    format = man
[merge]
    conflictstyle = diff3
[url "git.local:/mnt/storage/store/git/private/"]
    insteadOf = private:
[url "git.local:/mnt/storage/store/git/sr.ht/"]
    insteadOf = sr.ht:
[user]
    email = sean@ttypty.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKRFpkRgIsKPHHP23GMtn2vaQz2WuHyEO97SKom9Y6ch
    name = Sean Enck
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
# delta configuration
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    features = decorations
    keep-plus-minus-markers = true
    line-numbers = true
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
