[core]
    hooksPath = ~/.config/git/hooks
[diff "lb"]
    textconv = lb conv
[url "~/Store/git/private/"]
    insteadOf = private:
[url "git@git.sr.ht:~enckse/"]
    insteadOf = sr.ht:
[includeIf "hasconfig:remote.*.url:private:**"]
    path = ~/.config/git/dev.config
[includeIf "hasconfig:remote.*.url:sr.ht:**"]
    path = ~/.config/git/dev.config
[motd]
    enable = uncommitted
[uncommitted]
    scan = true
    prompt = true
    match = "^(private|sr.ht):*"
[uncommitted "scan"]
    home = false
    path = ~/Workspace
    path = ~/.ttypty
