[core]
    hooksPath = ~/.config/git/hooks
[diff "lb"]
    textconv = lb conv
[url "~/Store/git/private/"]
    insteadOf = private:
[url "~/Store/git/sr.ht/"]
    insteadOf = sr.ht:
[includeIf "hasconfig:remote.*.url:private:**"]
    path = ~/.config/git/dev.config
[includeIf "hasconfig:remote.*.url:sr.ht:**"]
    path = ~/.config/git/dev.config
[include]
    path = ~/.config/git/tools.config
