[url "git.local:/mnt/storage/git/"]
    insteadOf = local:
[user]
    email = sean@ttypty.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKRFpkRgIsKPHHP23GMtn2vaQz2WuHyEO97SKom9Y6ch
    name = Sean Enck
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[diff "lb"]
    textconv = lb conv
[include]
    path = ~/.config/git/local.config
